---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import "../styles/global.css"

interface Props {
  lang: string,
}

const { lang = "en" } = Astro.props as Props;

const METADATA = {
  title: "DrawPen - simple screen annotation tool",
  description: "DrawPen is a free, open-source tool that lets you draw on top of any screen - perfect for presentations, classes, live coding and remote meetings.",
}
---

<html lang={lang} class="scroll-smooth">
  <head>
    <meta charset="utf-8" />
    <title>{METADATA.title}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content={METADATA.description} />

    <meta property="og:title" content={METADATA.title} />
    <meta property="og:description" content={METADATA.description} />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://drawpen.app" />
    <meta property="og:image" content="/og-drawpen.png" />

    <link rel="icon" href="/favicon.svg" />
  </head>

  <body class="bg-[#f8f8f8]">
      <Header />

      <main>
        <div class="mt-34 max-w-[90%] mx-auto">
          <slot />
        </div>
      </main>

      <Footer />
  </body>
</html>
